<html>
  <head>

    <title>{{bridgeData.title}}</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css">
  </head>
  <body style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;background-color: #fdfdfd;margin: 0;width: 100% !important;-ms-text-size-adjust: none !important;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center">
            <table cellpadding="0" cellspacing="0" class="main-container" width="640">
              <tbody>
                <tr>
                  <td style="padding: 20px;"><img style="width: 150px;" src="https://s3.amazonaws.com/files.chakachat.com/email/chakachat-logo-black_smll.png"></td>
                </tr>
                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" class="section-wrapper" style="border-collapse: collapse;background-color: #fff;border: solid 1px #ededed !important;" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;" width="100%">
                              <tbody>
                                <tr>
                                  <td align="center" style="padding: 55px 10px 30px;">
                                    <h2 style="margin: 0;font-size: 23px;font-weight: 400;color: #2E3645;">Invite to a Bridge on Chaka</h2>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" style="padding-bottom: 30px;">
                                    <p style="font-size: 15px;font-weight: 300;color: #a5a5a5;line-height: 1.4;margin: 0 10px;">{{userData.username}} invited you to join {{bridgeData.title}}. {{bridgeData.description}}</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-bottom: 40px; border-bottom: 1px solid #ededed;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" class="cta-table" style="height: 45px;margin: 0 auto;table-layout: fixed;" width="280">
                              <tbody>
                                <tr>
                                  <td align="center" bgcolor="#3BCA96">
                                    <a
                                      class="primary-cta"
                                      href="{{bridgeData.url}}"
                                      style="font-size: 13px; color: #ffffff; background-color: #3bca96; text-decoration: none; text-decoration: none; padding: 11px 44px 10px; border: 1px solid #3bca96; display: inline-block;"
                                      target="_blank">Come take a look</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:20px;padding-bottom:50px;">
                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-top: dotted 1px #e1e1e1; color: #a5a5a5;" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" style="padding-top:20px;"><img src="https://bridgeapp.me/wp-content/uploads/2015/04/bridge-collaborate.png" style="display:block;"></td>
                        </tr>
                        <tr>
                          <td align="center" style="padding:10px 0 30px;">Real-time chat for Eventbrite and Meetup events</td>
                        </tr>
                        <tr>
                          <td align="center" style="padding-top: 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="300">
                              <tbody>
                                <tr>
                                  <td align="center" width="55">
                                    <a class="bottom-links" href="http://chakachat.com/blog" style="color: #a5a5a5;font-weight: 300;text-decoration: none;">Blog</a>
                                  </td>
                                  <td align="center" width="55">
                                    <a class="bottom-links" href="https://twitter.com/chakachatapp" style="color: #a5a5a5;font-weight: 300;text-decoration: none;">Twitter</a>
                                  </td>
                                  <td align="center" width="68">
                                    <a class="bottom-links" href="https://www.facebook.com/chakachat" style="color: #a5a5a5;font-weight: 300;text-decoration: none;">Facebook</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
